mode = local|remote
listen_ip = 127.0.0.1
listen_port = 1111
target_ip = 127.0.0.1
target_port = 1112
password = yourpassword
ticket = yourticketyourticketyourticket12
log_file = xxx.log
log_level = DEBUG|INFO|NOTICE|WARN|ERROR|FATAL

